@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f8f8f8;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.568), rgba(0, 0, 0, 0.555)), url('https://www.tulsa-health.org/sites/default/files/styles/fhd/public/2020-09/GettyImages-1215392772.jpg?itok=aOUQtP4J');
  text-align: 'center';
  direction: rtl;
}

h1 {
  font-size: 50px;
  color: rgb(0, 27, 78);
}

h2 {
  font-size: 30px;
  color: rgb(0, 27, 78);
}

h3 {
  text-align: 'center';
}

.container {
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  padding: 0px 5%;
  height: 55%;
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate( -50%, -50% );
}

@media (max-width: 800px) {
  h1 {
    font-size: 40px;
  }
  
  h2 {
    font-size: 24px;
  }
}

@media (max-width: 600px) {
  h1 {
    font-size: 34px;
  }
  
  h2 {
    font-size: 23px;
  }

  .container {
    padding: 0px 10%;
  }
}

@media (max-width: 500px) {
  h1 {
    font-size: 30px;
  }
  
  h2 {
    font-size: 21px;
  }

  h3 {
    font-size: 6px;
  }
}

@media (max-width: 400px) {
  h1 {
    font-size: 25px;
  }
  
  h2 {
    font-size: 18px;
  }

  h3 {
    font-size: 4px;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
